@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User.Claims.FirstOrDefault()?.Value</h1>
</div>


<div class="container">
    <div class="row">
        @foreach(var homestay in Model.Homestays)
        {
            <div class="col-sm-4 mt-5">
                <div class="card" style="width: 18rem;">
                    <img src="@homestay.Images.First().Link" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@homestay.HomestayName</h5>
                        <p class="card-text">@homestay.Price$ / night</p>
                        <a href="/HomeStays/Details?id=@homestay.HomestayId" class="btn btn-primary">View details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



