@page
@model HomestayWeb.Pages.Register.IndexModel
@{
}

<h1>Register</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Fullname" class="control-label"></label>
                <input asp-for="User.Fullname" class="form-control" />
                <span asp-validation-for="User.Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Username" class="control-label"></label>
                <input asp-for="User.Username" class="form-control" />
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="User.Role" class="control-label"></label>
                <input asp-for="User.Role" value="USER" readonly class="form-control" />
                <span asp-validation-for="User.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Gender" class="control-label"></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="User.Gender" value="true" id="male" checked>
                    <label class="form-check-label" for="male">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="User.Gender" value="false" id="female">
                    <label class="form-check-label" for="female">
                        Female
                    </label>
                </div>
                <span asp-validation-for="User.Gender" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Login/Index">Back to Login</a>
</div>
