@page
@model HomestayWeb.Pages.Login.IndexModel
@{
    Layout = null;
}
<link href="~/css/login.css" rel="stylesheet" />
<div class="container">
    <form method="post" class="box">
        <div class="login">
            <h2>Đăng nhập</h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
           
                <input type="text" class="form-control" asp-for="UserRequest.Username" placeholder="Tài khoản">
                <span asp-validation-for="UserRequest.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="password" class="form-control" asp-for="UserRequest.Password" placeholder="Mật Khẩu">
                <span asp-validation-for="UserRequest.Username" class="text-danger"></span>
            </div>
            <button type="submit" >Đăng nhập</button>
            <div style="font-size:larger">Chưa có tài khoản? <a asp-page="/Register/Index">Đăng ký ngay</a></div>

        </div>
    </form>
</div>



