@page
@model HomestayWeb.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}
<link href="~/css/edit.css" rel="stylesheet" />
<div class="d-flex justify-content-around">
    <h1>Tạo mới người dùng</h1>
    <h2 style="align-items:center"><a asp-page="./Index" class="btn-close"></a></h2>
</div>

<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Username" class="control-label"></label>
                <input asp-for="User.Username" class="form-control" />
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" type="email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Role" class="control-label"></label>
                <select asp-for="User.Role" class="form-control" asp-items="ViewBag.Roles"></select>
                <span asp-validation-for="User.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Fullname" class="control-label"></label>
                <input asp-for="User.Fullname" class="form-control" />
                <span asp-validation-for="User.Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Gender" class="control-label"></label>
                <select asp-for="User.Gender" class="form-control" >
                    <option value="true" selected>Male</option>
                    <option value="false">Female</option>
                </select>
                <span asp-validation-for="User.Gender" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.Status" /> @Html.DisplayNameFor(model => model.User.Status)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
