
@import url('https://fonts.googleapis.com/css?family=Quicksand');
.homestay {
    align-items: center;
    text-align: center;
    width:300px;
    height:300px;
}

    .homestay img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .homestay:hover img {
        transform: scale(1.15); /* Phóng to khi hover */
    }
.card-img-top {
    border-radius: 25px;
}


/* Sử dụng font Quicksand và fallback font sans-serif cho body */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #c3f0f7;
    color: #171714;
}

.search{
    display:flex;
    justify-content:space-around;
    margin-bottom: 30px;
}
.search input{
    width:450px;
    border-radius:20px;
    margin-right:30px;
}
.search .form-group{
    width:200px !important;
    margin-right:15px;
}
.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width:200px;
}

